<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 26.11.2017, 16:45</p>
            <h2><a href="">My first post</a></h2>
            <p> BTS стали первой корейской группой, занявшей 1 место в американском iTunes c ремиксом на 'Mic Drop' от Стива Аоки!
</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>BTS x Steve Aoki's 'MIC Drop Remix' второй день подряд остается лидером Американского iTunes. BTS являются единственной корейской группой, которой удалось удержать лидерство чарта американского iTunes на два дня.
 </p>
        </div>
    </body>
</html>